table {
	table-layout: fixed;
	width: inherit !important;
}

.empty {
	background-color: grey !important;
}

.filled {
	background-color: black !important;
}

td {
	width: 20px !important;
	height: 20px !important;
}